<div class="wrap">
    <div class="content">
        <div class="content-inn">
            <h5>О компании</h5>
            <h2>Центр цифровой печати</h2>
            <img  class="img-right" src="https://placeimg.com/460/310/arch" alt="">
            <p>Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором Ваши фотографии будут выглядеть как настоящие картины! Печать фотографий большого размера выполняется на принтере Canon iPF6400. Максимальный размер печати: 60 см х 1500 см, минимальный 60 х 30 см. Разрешение печати – 300 dpi.</p>
            <p>Этот широкоформатный принтер оснащен инновационной 12-цветной системой пигментных чернил LUCIA EX от Canon с особой технологией обработки изображения. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин.</p>
            <cite>Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором Ваши фотографии будут выглядеть как настоящие картины!</cite>
            <p>Этот широкоформатный принтер оснащен инновационной 12-цветной системой пигментных чернил LUCIA EX от Canon с особой технологией обработки изображения. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин.</p>
            <h3>Заголовок H3</h3>
            <p class="column">Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором Ваши фотографии будут выглядеть как настоящие картины! Печать фотографий большого размера выполняется на принтере Canon iPF6400. Максимальный размер печати: 60 см х 1500 см, минимальный 60 х 30 см. <br>
            Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин понижение бронзирования и повышение устойчивости отпечатков к появлению царапин.</p>
            <blockquote>Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором Ваши фотографии будут выглядеть как настоящие картины!</blockquote>
            <h5>сПИСКИ</h5>

            <h2>Нумерованный список</h2>
            <p>Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором Ваши фотографии будут выглядеть как настоящие картины!</p>
            
            <ol>
                <li>Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором</li>

                <li>Ваши фотографии будут выглядеть как настоящие картины!</li>

                <li>Печать фотографий большого размера выполняется на принтере Canon iPF6400. Максимальный размер печати: 60 см х 1500 см, минимальный 60 х 30 см. Разрешение печати – 300 dpi. 
                    <ol>
                        <li>Этот широкоформатный принтер оснащен инновационной 12-цветной системой пигментных чернил LUCIA EX от Canon с особой технологией обработки изображения.</li>
                        <li>Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин.</li>
                    </ol>
                </li>
                <li>Ваши фотографии будут выглядеть как настоящие картины!</li>
            </ol>


            <h2>Нумерованный список</h2>
            <p>Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором Ваши фотографии будут выглядеть как настоящие картины!</p>
            
            <ul>
                <li>Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором</li>

                <li>Ваши фотографии будут выглядеть как настоящие картины!</li>

                <li>Печать фотографий большого размера выполняется на принтере Canon iPF6400. Максимальный размер печати: 60 см х 1500 см, минимальный 60 х 30 см. Разрешение печати – 300 dpi. 
                    <ul>
                        <li>Этот широкоформатный принтер оснащен инновационной 12-цветной системой пигментных чернил LUCIA EX от Canon с особой технологией обработки изображения.</li>
                        <li>Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин.</li>
                    </ul>
                </li>
                <li>Ваши фотографии будут выглядеть как настоящие картины!</li>
            </ul>


            <h5>сотрудники</h5>
            <h2>Наши сотрудники</h2>

            <div class="personal-list--content">        
                <div class="personal-one">
                        <div class="personal-one__img">
                            <img src="tmp/personal-one-inn.jpg" alt="">
                        </div>
                        <div class="personal-one__position">— Директор</div>
                        <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one">
                        <div class="personal-one__img">
                            <img src="tmp/personal-one-inn.jpg" alt="">
                        </div>
                        <div class="personal-one__position">— Директор</div>
                        <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one">
                        <div class="personal-one__img">
                            <img src="tmp/personal-one-inn.jpg" alt="">
                        </div>
                        <div class="personal-one__position">— Директор</div>
                        <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one">
                        <div class="personal-one__img">
                            <img src="tmp/personal-one-inn.jpg" alt="">
                        </div>
                        <div class="personal-one__position">— Директор</div>
                        <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one">
                        <div class="personal-one__img">
                            <img src="tmp/personal-one-inn.jpg" alt="">
                        </div>
                        <div class="personal-one__position">— Директор</div>
                        <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one">
                        <div class="personal-one__img">
                            <img src="tmp/personal-one-inn.jpg" alt="">
                        </div>
                        <div class="personal-one__position">— Директор</div>
                        <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one">
                        <div class="personal-one__img">
                            <img src="tmp/personal-one-inn.jpg" alt="">
                        </div>
                        <div class="personal-one__position">— Директор</div>
                        <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one">
                        <div class="personal-one__img">
                            <img src="tmp/personal-one-inn.jpg" alt="">
                        </div>
                        <div class="personal-one__position">— Директор</div>
                        <div class="personal-one__name">Сосновских Алексей</div>
                </div>
            </div>

            <h5>таблицы</h5>
            <h2>Пример таблицы</h2>

            <table class="table">
                <tr>
                    <th>Тип</th>
                    <th>Цена за комплект</th>
                    <th>Срок изготовления</th>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
            </table>

            <table class="table-bg">
                <tr>
                    <th>Тип</th>
                    <th>Цена за комплект</th>
                    <th>Срок изготовления</th>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
            </table>

            <h2>Заголовок H2</h2>
            <h3>Заголовок H3</h3>
            <h4>Заголовок H4</h4>
        </div>
    </div>
    

</div>
