<div class="wrap">
    <div class="content">
        <div class="content-inn">
            <div class="news-big-img">
                <img src="tmp/news-big.jpg" alt="">
            </div>
            <div class="news-one-date">20 апреля 2017</div>

            <h2 class="news-subtitle">Мы рады приятно удивить вас, дорогие клиенты! Теперь мы умеем делать фольгирование!</h2>

            <p>Фольгирование – это процесс нанесения фольги на бумагу и картон, то есть – процесс спекания тонера лазерного принтера или копировального аппарата с металлизированной фольгой под воздействием высокой температуры. С помощью этой технологии можно сделать отличный подарок себе и близким! Вы можете заказать какое-либо изображение вплоть до формата А3, главное, чтобы оно было монохромным.</p>

            <p>Мы можем обработать фотопортрет таким образом, чтобы он хорошо смотрелся при нанесении фольги. При этом остаются главные крупные черты лица, и человек остается узнаваемым.</p>

            <p>Пока у нас Вы можете заказать фольгирование золотистой или серебристой фольгой, но скоро мы расширим ассортимент покрытиями с различными эффектами!</p>

            <p>Эта технология позволяет существенно расширить возможности для самовыражения в открытках, подарочных картинах, приглашениях и многом другом. Например, можно напечатать красивые пригласительные на свадьбу, подарочные сертификаты для вашего бизнеса, юбилейные открытки, и даже наклейки!</p>

            <p>Такой продукт будет выглядеть необычно, эстетично и дорого, и, конечно, запомнится как подарок.</p>

            <div class="news-one-gall swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/tmp/news-one-1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/tmp/news-one-2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/tmp/news-one-1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/tmp/news-one-2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/tmp/news-one-1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/tmp/news-one-2.jpg" alt=""></div>
                </div>
                <div class="carusel-nav">
                    <div class="button-next"></div>
                    <div class="button-prev"></div>
                </div>
            </div>

            <hr>

            <a href="#" class="link-back">К списку новостей</a>
        </div>
    </div>
    

</div>
