<div class="wrap">
    <div class="content">
        <div class="card-photo card-photo--tovar swiper-container">
            <div class="swiper-wrapper">
                <img src="/tmp/card-one.jpg" class="swiper-slide" alt="">
                <img src="/tmp/card-one.jpg" class="swiper-slide" alt="">
                <img src="/tmp/card-one.jpg" class="swiper-slide" alt="">
            </div>

            <div class="swiper-pagination"></div>
        </div>
        <div class="content-side content-side--card">
            <div class="tovar-buy">
                <button class="tovar-buy__button tovar-buy__button--tovar">Заказать</button>
                <div class="tovar-buy__price">250 <i class="ruble">q</i></div>
            </div>
            
            <p>Карта памяти Mirex совместима cо всеми распространёнными устройствами чтения и записи флэш-карт соответствующего стандарта - microSDHC. Идеально подходит для хранения и перемещения мульти-медиа информации между устройствами, в том числе от различных производителей.</p>
            
            <div class="tovar-descr">
                <div class="tovar-descr__one"><span>Форм-фактор:</span>    microSDHC</div>
                <div class="tovar-descr__one"><span>Объем:</span>  2 Гб</div>
                <div class="tovar-descr__one"><span>Класс скорости:</span>  Class 4</div>
                <div class="tovar-descr__one"><span>Cкорость записи:</span>  5 Мбайт/с</div>
                <div class="tovar-descr__one"><span>Cкорость чтения:</span>  12 Мбайт/с</div>
            </div>

            <hr>

            <a href="#" class="link-back">К списку новостей</a>
            
        </div>
    </div>
    

</div>
