<div class="wrap">
    <div class="footer footer-white">
        <div class="footer-inn">
            <div class="footer-coll footer-menu">
                <ul>
                    <li><a href="#">Печать</a></li>
                    <li><a href="#">Сувениры и подарки</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Товары</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>   
            </div>
            
            <div class="footer-coll">
                <div class="footer-contact">
                    <div class="footer__phone">+7 (343) 336-96-90</div>
                    <div class="footer__phone">+7 (909) 003-04-90</div>
                    <div class="footer__adress">Екатеринбург, улица Победы, 42, эт. 1</div>
                </div>
            </div>

            <div class="footer-coll footer-coll--last">
                <div class="footer-social">
                    <a href="#" class="social__vk"><i></i></a>
                    <a href="#" class="social__fb"><i></i></a>
                    <a href="#" class="social__tw"><i></i></a>
                </div>
                <div class="footer-made">
                    <i></i>
                    <a href="#">Разработка сайта<br>«СофтМажор»</a>
                </div>
            </div>


            <div class="footer-copy">
                Copyright 2017 Все права защищены
            </div>
        </div>
    </div>
</div>