<div id="overlay">
	<div class="modal modal--fz" id="search">
		<div class="order__inn">
			<div class="modal__close"></div>
			<div class="search-form">
				<form id="search-form" action="" method="post" >
					<div class="search-form__title">Поиск по сайту</div>
					<input class="search-form__input" type="text" placeholder="Введите искомое слово">
					<button class="search-form__button"></button>
				</form>
			</div>
		</div>
	</div>

	//= mobile-menu.html


	<div class="modal modal--fz" id="order">
		<div class="order__inn">
			<div class="modal__close"></div>
			<div class="order-modal">
				<div class="order-modal__title">Онлайн заказ</div>
				<div class="order-modal__subtitle">Карта памяти Mirex microSDHC 2 Гб</div>
				<form action="" id="order" class="order-box">
					<div class="form-line">
						<input type="text" name="name" placeholder="Ваше имя">
					</div>
					<div class="form-line">
						<input type="text" name="mail" placeholder="Ваш e-mail">
					</div>
					<div class="form-line">
						<textarea name="text" placeholder="Ваше сообщение"></textarea>
					</div>
					<div class="form-line">
						<input type="text" name="name" placeholder="Ваше имя">
					</div>
					<div class="form-line">
						<div class="quaptcha-img">
							<img src="/tmp/quaptcha.jpg" alt="">
						</div>
						<div class="quaptcha-input">
							<input type="text" name="quaptca" placeholder="Введите код с картинки">
						</div>
					</div>
					<div class="form-line">
						<button type="submit">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>