<div class="slider-box">
    <div class="main-slider">
        <div class="main-slider-one">
            <div class="main-slider-descr">
                <div class="main-slider-descr__title">Печать фотографии всего за 1 час</div>
                <div class="main-slider-descr__text">Мы оперативно примем ваш заказ и напечатаем снимки на фотолаборатории</div>
                <a class="main-slider-more" href="#">Подробнее</a>
            </div>
            <div class="main-slider__img" style="background-image: url(/tmp/slider-one.jpg);"></div>
        </div>
        <div class="main-slider-one">
            <div class="main-slider-descr">
                <div class="main-slider-descr__title">Печать фотографии всего за 1 час</div>
                <div class="main-slider-descr__text">Мы оперативно примем ваш заказ и напечатаем снимки на фотолаборатории</div>
                <a class="main-slider-more" href="#">Подробнее</a>
            </div>
            <div class="main-slider__img" style="background-image: url(/tmp/slider-one.jpg);"></div>
        </div>
    </div>
    <div class="slider-nav">
        <div class="slider-next">
            <i></i>
        </div>
        <div class="slider-prev">
            <i></i>
        </div>
    </div>
</div>