<div class="wrap">
    <div class="content">
        <div class="content-inn ">
            <div class="column-3">
                <div class="content-col-3">
                    <h3>Адрес</h3>
                    <p>Свердловская область,<br>
                    г. Екатеринбург,<br>
                    улица Победы, 42, эт. 1</p>
                </div>
                <div class="content-col-3">
                    <h3>Контакты</h3>
                    <table>
                        <tr>
                            <td>Т:</td>
                            <td>
                                +7 (343) 336-96-90<br>
                                +7 (343) 336-98-43<br>
                                +7 (909) 003-04-90
                            </td>
                        </tr>
                        <tr>
                            <td> @:</td>
                            <td><a href="#">example@mail.com</a></td>
                        </tr>
                    </table>
                </div>
                <div class="content-col-3">
                    <h3>Режим работы</h3>
                    <p>Ежедневно 10:00–20:00</p>
                </div>
            </div>
        </div>
    </div>

</div>
