<div class="wrap">
	<div class="contact-form news-main">
		<form action="" id="order" class="contact-box">
			<div class="contact-title">Свяжитесь с нами</div>
			<div class="form-line">
				<input type="text" name="name" placeholder="Ваше имя">
			</div>
			<div class="form-line">
				<input type="text" name="mail" placeholder="Ваш e-mail">
			</div>
			<div class="form-line">
				<textarea name="text" placeholder="Ваше сообщение"></textarea>
			</div>
			<div class="form-line">
				<input type="text" name="name" placeholder="Ваше имя">
			</div>
			<div class="form-line">
				<div class="quaptcha-img">
					<img src="/tmp/quaptcha.jpg" alt="">
				</div>
				<div class="quaptcha-input">
					<input type="text" name="quaptca" placeholder="Введите код с картинки">
				</div>
			</div>
			<div class="form-line">
				<button type="submit">Отправить</button>
			</div>
		</form>
	</div>
</div>