<div class="wrap">
    <div class="content">
        <div class="side side--suvenir">
            <div class="side-title">Сувениры</div>
            <ul>
                <li><a href="#">Фотоальбомы</a></li>
                <li><a href="#">Фоторамки</a></li>
                <li><a href="#">Фотопленка</a></li>
                <li><a href="#">Элементы питания</a></li>
                <li><a href="#">Носители информации</a></li>
                <li><a href="#">Бумага для офиса</a></li>
                <li><a href="#">Багет по размерам заказчика</a></li>
            </ul>
        </div>
        <div class="content-side">

            <p>Термопечать — самая оперативная и качественная технология, выполняющая нанесение практически на любую ткань. Текстиль, термоперенос на котором выполнен с соблюдением всех требований, служит без потери качества минимум два-три года.</p>

            <p>Метод термопереноса заключается в том, что сначала изображение наносится на специальную пленку или бумагу (промежуточный носитель), а уже потом переносится на изделие. Необходимая картинка печатается на носители в зеркальном отображении и в процессе прижатия данного носителя термопрессом к основе получается качественный точный оттиск.</p>

            

            <div class="product-list">
                <a href="#" class="product-item">
                    <img src="tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 <i class="ruble">a</i></div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 <i class="ruble">a</i></div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 <i class="ruble">a</i></div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 <i class="ruble">a</i></div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 <i class="ruble">a</i></div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 <i class="ruble">a</i></div>
                    </div>
                </a>

                
            </div>

            

            
            <p>Этот широкоформатный принтер оснащен инновационной 12-цветной системой пигментных чернил LUCIA EX от Canon с особой технологией обработки изображения. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин.</p>
        </div>
    </div>
    

</div>
