<div class="wrap">
    <div class="head">
        <a href="#" class="head-logo">
            <img src="img/logo.png" alt="">
        </a>
        <div class="head-since">
            Мы работаем<br>для Вас с 1997 г.
        </div>
        <div class="head-top">
            <div class="head-top__adres">Екатеринбург, улица Победы, 42, эт. 1</div>
            <div class="head-top__del">|</div>
            <div class="head-top__phone">+7 (909) 003-04-90</div>
            <div class="head-top__del">|</div>
            <div class="head-top__phone head-top__phone--city">+7 (343) 336-96-90</div>
            <div class="head-top__del">|</div>
            <a href="#search" class="head-top__search open_modal"></a>
            <a href="#menu" class="mobile-menu-open">Меню</a>
        </div>
        <ul class="head-menu">
            <li class="menu-one menu-one--yellow"><a href="#">Печать</a>
                <ul>
                    <li><a href="#">Широкоформатная печать</a></li>
                    <li><a href="#">Латексная печать</a></li>
                    <li><a href="#">Печать на обоях</a>
                        <ul>
                            <li><a href="#">Печать на футболках</a></li>
                            <li><a href="#">Печать на кружках</a></li>
                            <li><a href="#">Ультра Фиолетовая печать</a></li>
                            <li><a href="#">Печать на чехлах</a></li>
                            <li><a href="#">Печать на магнитах</a></li>
                            <li><a href="#">Печать на сланцах</a></li>
                            <li><a href="#">Печать на сумках</a></li>
                            <li><a href="#">Печать на часах</a></li>
                            <li><a href="#">Открытка-трансформер</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Печать на холсте</a>
                        <ul>
                            <li><a href="#">Печать на футболках</a></li>
                            <li><a href="#">Печать на кружках</a></li>
                            <li><a href="#">Ультра Фиолетовая печать</a></li>
                            <li><a href="#">Печать на чехлах</a></li>
                            <li><a href="#">Печать на магнитах</a></li>
                            <li><a href="#">Печать на сланцах</a></li>
                            <li><a href="#">Печать на сумках</a></li>
                            <li><a href="#">Печать на часах</a></li>
                            <li><a href="#">Открытка-трансформер</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Фото на документы за 5 минут</a></li>
                    <li><a href="#">Печать на баннерах</a>
                        <ul>
                            <li><a href="#">Печать на футболках</a></li>
                            <li><a href="#">Печать на кружках</a></li>
                            <li><a href="#">Ультра Фиолетовая печать</a></li>
                            <li><a href="#">Печать на чехлах</a></li>
                            <li><a href="#">Печать на магнитах</a></li>
                            <li><a href="#">Печать на сланцах</a></li>
                            <li><a href="#">Печать на сумках</a></li>
                            <li><a href="#">Печать на часах</a></li>
                            <li><a href="#">Открытка-трансформер</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-one menu-one--red"><a href="#">Сувениры</a>
                <ul>
                    <li><a href="#">Печать на футболках</a></li>
                    <li><a href="#">Печать на кружках</a></li>
                    <li><a href="#">Ультра Фиолетовая печать</a></li>
                    <li><a href="#">Печать на чехлах</a></li>
                    <li><a href="#">Печать на магнитах</a></li>
                    <li><a href="#">Печать на сланцах</a></li>
                    <li><a href="#">Печать на сумках</a></li>
                    <li><a href="#">Печать на часах</a></li>
                    <li><a href="#">Открытка-трансформер</a></li>
                </ul>
            </li>
            <li class="menu-one menu-one--green"><a href="#">Услуги</a>
                <ul>
                    <li><a href="#">Изготовление визиток</a></li>
                    <li><a href="#">Изготовление офисных табличек</a></li>
                    <li><a href="#">Изготовление календарей</a></li>
                    <li><a href="#">Фольгирование</a></li>
                    <li><a href="#">Плоттерная резка</a></li>
                    <li><a href="#">Ламинирование</a></li>
                    <li><a href="#">Информационные доски</a></li>
                    <li><a href="#">Овалы на памятники</a></li>
                    <li><a href="#">Оцифрофка видеокассет</a></li>
                    <li><a href="#">Брощюровка и переплёт</a></li>
                    <li><a href="#">Художественная и предметная съёмка</a></li>
                </ul>
            </li>
            <li class="menu-one menu-one--blue"><a href="#">Товары</a>
                <ul>
                    <li><a href="#">Фотоальбомы</a></li>
                    <li><a href="#">Фоторамки</a></li>
                    <li><a href="#">Фотопленка</a></li>
                    <li><a href="#">Носители информаци</a></li>
                    <li><a href="#">Бумага для офиса</a></li>
                    <li><a href="#">Элементы питания</a></li>
                    <li><a href="#">Багет по размерам заказчика</a></li>
                </ul>
            </li>
            <li class="menu-one menu-one--red"><a href="#">Акции</a></li>
            <li class="menu-one menu-one--green"><a href="#">Новости</a></li>
            <li class="menu-one menu-one--yellow"><a href="#">Контакты</a></li>
        </ul>

        <div class="head-side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> | <a href="#">Товары</a>
            </div>
            <h1 class="head-title">Носители информации</h1>
        </div>
    </div> 
</div>
