@import "mixin.less";
@import "base.less";


//кнопка заказать
.tovar-buy__button--tovar {
    background: lighten(@blue, 10%);
    color: #fff;
    &:hover {
        background: @blue;
    }
}

.tovar-buy__button--suvenir {
    background: @red;
    color: #fff;
    &:hover {
        background: darken(@red, 10%)
    }
}


.tovar-buy__button--print {
    background: @yellow;
    color: #fff;
    &:hover {
        background: darken(@yellow, 10%)
    }
}

.tovar-buy__button--uslug {
    background: @green;
    color: #fff;
    &:hover {
        background: darken(@green, 10%)
    }
}


// меню разделов
.side--tovar {
    background: #326fcc;
    color: #fff;

    ul {
        background: #326fcc;
        a {
            border-top-color: #467dd1;
            &:hover {
                background-color: #467dd1;
            }
        }
    }
}

.side--uslug {
    background: #2ac263;
    color: #fff;

    ul {
        background: #2ac263;
        a {
            border-top-color: #3fc872;
            &:hover {
                background-color: #3fc872;
            }
        }
    }
}

.side--suvenir {
    background: #de3d4a;
    color: #fff;

    ul {
        background:  #de3d4a;
        a {
            border-top-color: #e1505c;
            &:hover {
                background-color: #e1505c;
            }
        }
    }
}

.side--print {
    background: #ecb11d;
    color: #fff;

    ul {
        background: #ecb11d;
        a {
            color: #fff;
            border-top-color: #efbd3f;
            &:hover {
                background-color: #efbd3f;
            }
        }
    }
}


//фон раздела
.product-list--tovar {
    background: @blue;
    color: #fff;
}

.product-list--uslug {
    background: @green;
    color: #fff;
}

.product-list--suvenir {
    background: @red;
    color: #fff;
}

.product-list--print {
    background: @yellow;
    color: #000;
}



//мобильное меню
.mobile-menu-color(@color) {
    ul {
        background: @color;
    }
    & > a {
        display: block;
        background: @color;
        padding: 20px 30px;
        font-size: 22px;
        font-weight: 700;
    }


    li {
        border-bottom: 1px solid  darken(@color, 8%);
        background: darken(@color, 5%);
        display: block;
        margin-bottom: 0;
        a {
            padding: 20px 30px;
            display: block;
            font-size: 22px;
        }

        ul {
            display: none;
        }
    }

}

.mobile-menu-one--yellow {
    .mobile-menu-color(@yellow);
    li {
        background: #ecb11d;
        border-bottom: 1px solid  #dba214;
    }
}

.mobile-menu-one--red {
    .mobile-menu-color(@red);
}

.mobile-menu-one--green {
    .mobile-menu-color(@green);
}

.mobile-menu-one--blue {
    .mobile-menu-color(@blue);
}


//главное меню
.menu-color(@menu-color, @menu-color-in, @menu-color-border, @menu-color-h) {
    border: 1px solid @menu-color;
    position: relative;

    &:hover {
        > a {
            color: #fff;
        }
    }

    ul {
        width: 280px;

        li {
            background: @menu-color-in;
            position: relative;
            border-bottom: 1px solid  @menu-color-border;
            
            &:hover {
                ul {
                    display: block;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        background: @menu-color-h;
                    }
                }
            }

            &:nth-child(4) {
                ul {
                    left: auto;
                    right: 100%;
                }
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 40px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent @menu-color-in transparent;
        }

        a {
            color: #fff;
        }

    }

    &:hover {
        background: @menu-color;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        transition: all 0.2s;
    }

    li {
        a:hover {
            background: @menu-color-h;
        }
    }

}

.menu-one--yellow {
    .menu-color(@yellow, #ecb11d, #dba214, #f2b827);

    &:hover {
        > a {
            color: #fff;
        }
    }

    li a {
        color: #fff;
    }
}

.menu-one--red {
    .menu-color(@red, #c73743, #b22c37, #d23a47);
}

.menu-one--green {
    .menu-color(@green, #24a354, #1a8d45, #2eb461);
}

.menu-one--blue {
    .menu-color(@blue, #295ca8, #1c4c94, #3165b4);
}
