@import "sprite.less";
@import "mixin.less";
@import "base.less";

body {
    background: #242c3e;
}

.reset {
    background: none;
    margin: 0;
    padding: 0;
}

.wrap {
	width: 1360px;
	margin: 0 auto;
}

.head {
    background: url(/img/top-bg.png);
    padding: 0 80px;
    background-size: cover;
    background-position: 0 50%;
}

.head-logo {
    position: absolute;
    top: 60px;
    left: 80px;
}

.head-top {
    padding: 20px 0;
    text-align: right;
}

.head-top__adres {
    font-size: 16px;
    display: inline-block;
}

.head-top__del {
    margin: 0 30px;
    display: inline-block;
}

.head-top__phone {
    font-size: 16px;
    display: inline-block;
    font-weight: 700;
}

.head-top__search {
    display: inline-block;
    vertical-align: middle;
    .sprite(@search);
}

.head-since {
    position: absolute;
    top: 190px;
    left: 140px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
}



.head-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    li {
        margin: 0;
        padding: 0;
    }

    ul {
        display: none;
        border: none;
        z-index: 20;
    }

    > li {
        display: inline-block;
        background: #fff;
        border-radius: 30px;
        font-size: 16px;

        a {
            display: block;
            padding: 20px 25px;
            text-decoration: none;
        }

        > ul {
            position: absolute;
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: left;
            padding-top: 20px;
            li {
                padding: 0;
                margin: 0;
                font-size: 15px;
            }

            a {
                padding: 15px 15px;
            }
        }
        &:hover {
            > ul {
                display: block;
                opacity: 1;
                transition: all 0.4s;
            } 
        }
    } 
}

.j-submenu {
    &:after {
        content: "";
        .sprite(@more-black);
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
    }
}


.menu-color(@menu-color) {
    border: 1px solid @menu-color;
    position: relative;

    &:hover {
        > a {
            color: #fff;
        }
    }

    ul {
        width: 280px;

        li {
            background: @menu-color;
            position: relative;
            border-bottom: 1px solid  darken(@menu-color, 5%);
            
            &:hover {
                ul {
                    display: block;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        background: lighten(@menu-color, 20%);
                    }
                }
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 40px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent @menu-color transparent;
        }

        a {
            color: #fff;
        }

    }

    &:hover {
        background: @menu-color;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        transition: all 0.2s;
    }

}


.menu-one--yellow {
    .menu-color(@yellow);

    &:hover {
        > a {
            color: #000;
        }
    }

    li a {
        color: #000;
    }
}

.menu-one--red {
    .menu-color(@red);
}

.menu-one--green {
    .menu-color(@green);
}

.menu-one--blue {
    .menu-color(@blue);
}




.main-slider {
    //width: 780px;
    height: 500px;
    margin: 0 0 0 auto;
    overflow: visible !important;
}

.slider-box {
    padding: 70px 0 100px;
    overflow: hidden;

    .swiper-pagination-bullet {
        background: #353f56 !important;
        opacity: 0.3 !important;
    }

    .swiper-pagination-bullet-active {
        opacity: 1 !important;
    }
}

.main-slider-one {
    width: 100%;
}


.main-slider-descr {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 390px;
    z-index: 10;
}

.main-slider-descr__title {
    font-size: 54px;
    line-height: 65px;
    font-weight: 700;
    width: 390px;
    margin-bottom: 20px;

}

.main-slider-descr__text {
    font-size: 17px;
    line-height: 28px;
    width: 260px;
    margin-bottom: 40px;
}

.main-slider-more {
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 20px;
    color: #fff;
    background: @red;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.main-slider__img {
    border: 15px solid #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 750px;
    height: 470px !important;
    background-size: cover;
}

        
.slider-nav {
    position: absolute;
    width: 750px;
    height: 470px;
    top: 70px;
    right: 0;
}

.slider-next {
    cursor: pointer;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 470px;
    z-index: 10;
    i {
        background-color: rgba(255,255,255,1);
        background-image: none;
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-top: 0;
        top: 50%;
        margin-top: -20px;
        right: 40px;
        opacity: 0;
        transition: opacity 0.3s;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 11px;
            right: 12px;
            .sprite(@next-dark);
        }
    }
    &:hover {
        i {
            opacity: 1;
        }
    }
}

.slider-prev {
    cursor: pointer;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 470px;
    z-index: 10;
    i {
        background-color: rgba(255,255,255,1);
        background-image: none;
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-top: 0;
        top: 50%;
        margin-top: -20px;
        left: 40px;
        opacity: 0;
        transition: opacity 0.3s;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 11px;
            right: 15px;
            .sprite(@prev-dark);
        }
    }
    &:hover {
        i {
            opacity: 1;
        }
    }
}






.services {
    padding: 0px 0 20px;
}

.services-one, 
.services-one-row {
    width: ~'calc( 100% + 20px)';
    margin-left: -10px;
    overflow: hidden;
    padding: 70px 0;
}

.services-one-top {
}

.services-one__catalog {
    position: absolute;
    left: 80px;
    top: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    display: block;
    padding: 10px 15px 10px 45px;
    border-radius: 20px;
    text-decoration: none;
    background: rgba(0,0,0,0.15);
    z-index: 10;
    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 11px;
        left: 15px;
        .sprite(@list);
    }

    &:hover {
        background: rgba(0,0,0,0.1);
    }
}

.services-one__title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.services-one-inn {
    
}

.services-item {
    background: #fff;
    width: 180px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;


    img {
        width: 100%;
    }
}

.services-item-bottom {
    padding: 10px;
}

.services-item-bottom__title {
    color: #353f56;
    font-size: 17px;
}

.services-item-bottom__section {
    color: #9a9a9a;
    font-size: 11px;
}

.swiper-pagination {
    text-align: center;
    width: 100%;
    margin: 20px 0;
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        opacity: 1;
        background: rgba(255,255,255,0.4);
    }

    .swiper-pagination-bullet-active {
        background: #fff;
    }

}
.swiper-button-next {
    background-color: rgba(0,0,0,0.1);
    background-image: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 0;
    top: 5px;
    right: 80px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 11px;
        right: 12px;
        .sprite(@next-white);
    }

}

.swiper-button-prev {
    background-color: rgba(0,0,0,0.1);
    background-image: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 0;
    left: auto;
    top: 5px;
    right: 130px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 11px;
        left: 12px;
        .sprite(@prev-white);
    }

}




.about {
    background: #fff;
    padding: 70px 80px;
}

.about__image {
    background-image: url(/img/photo.jpg);
    background-repeat: no-repeat;
    width: 515px;
    height: 455px;
    float: left;
}

.about__title {
    margin-left: 50%;
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.about__text {
    margin-left: 50%;
    font-size: 19px;
    line-height: 30px;
}

.personal {
    background-image: url(/img/color-fon-5.png);
    background-size: cover;
    background-position: center;
    padding: 70px 80px 50px;
}

.personal__title {
    text-align: center;
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.personal-inn {
    overflow: hidden;

    .swiper-pagination {
        position: relative;
        text-align: center;
        width: 100%;
        margin: 50px 0 0;
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            opacity: 1;
            background: #bcc0c9;
        }

        .swiper-pagination-bullet-active {
            background: #353f56;
        }

    }
}

.personal-list {
}

.personal-one {
    display: inline-block;
    vertical-align: top;
    img {
        border-radius: 5px;
        margin-bottom: 20px;
        width: 100%;
    }

    &:nth-child(2n) {
        padding-top: 50px;
    }
}

.personal-one__position {
    font-size: 13px;
    color: #9a9a9a;

}

.personal-one__name {
    
}



.news-main {
    background: url(/img/color-fon-6.png) no-repeat;
    background-size: cover;
    padding: 70px 80px;
}

.news-main__title {
    text-align: center;
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #fff;
}

.news-main-box {
    word-spacing: -0.35em;
}

.news-main-one {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    width: 340px;
    margin-right: 90px;
    a {
        font-weight: 700;
        padding: 20px 20px;
        text-decoration: none;
        color: #fff;
        display: block;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.news-main-inn {
    background: #fff;
    border-radius: 40px 0 40px 0;
    padding: 30px 20px;
}

.news-main-one__date {
    font-size: 14px;
    margin-bottom: 20px;
    color: #8e8e8e;
}

.news-main-one__title {
    font-size: 20px;
    margin-bottom: 20px;
}

.news-main-one__text {
    font-size: 15px;
}

.news-main__all {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 165px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 20px;
    color: #fff;
    background: @red;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    margin-top: 30px;
}


.footer {
    background-color: #123e7f;

    &:before {
        content: "";
        display: block;
        height: 164px;
        background-image: url(/img/fon-footer.png);
        background-color: #326fcc;
    }
}

.footer-inn {
    padding: 0px 80px;
    word-spacing: -0.35em;
    color: #fff;
}

.footer-coll {
    width: 340px;
    display: inline-block;
    vertical-align: top;
    margin-right: 90px;

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.footer-menu {
    ul {
        margin: 0;
        padding: 0;
        columns: 2;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid @yellow;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.footer-contact {
    padding-left: 70px;
}

.footer__phone {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer__adress {
    opacity: 0.7;
    font-size: 15px;
}

.footer-copy {
    opacity: 0.7;
    font-size: 13px;
    padding: 30px 0;
}

.footer-made {
    padding-left: 140px;
    font-size: 13px;
    i {
        display: inline-block;
        .sprite(@sm);
        margin-right: 5px;
    }
    a {
        display: inline-block;
        vertical-align: top;
        color: #fff;
        text-decoration: none;
    }

}

.footer-social {
    padding-left: 140px;
    margin-bottom: 30px;
}

.social__vk {
    display: inline-block;
    margin-right: 10px;
    border-bottom: 1px solid @yellow;
    padding: 5px;
    i {
        .sprite(@vk);
        display: block;
    }
}

.social__fb {
    display: inline-block;
    margin-right: 10px;
    border-bottom: 1px solid @yellow;
    padding: 5px;
    i {
        .sprite(@facebook);
        display: block;
    }
}

.social__tw {
    display: inline-block;
    margin-right: 10px;
    border-bottom: 1px solid @yellow;
    padding: 5px;
    i {
        .sprite(@twitter);
        display: block;
    }
}

.modal__close {
    background: @red;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 19px;
        left: 19px;
        .sprite(@close);
    }
}

.search-form {
    width: 620px;
    margin: 0 auto;
    padding-top: 140px;
}

.search-form__title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 40px;
}

.search-form__input {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background: #353f56;
    .placeholder-color(#d1d2d6);
    color: #fff;
    border: none;
    outline: none;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 400;
}

.search-form__button {
    height: 60px;
    width: 60px;
    background: none;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
        .sprite(@search-white);
    }
}

.mobile-menu-open {
    display: none;
    font-size: 15px;
    padding: 15px 20px;
    color: #fff;
    background: #f24351;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
    text-decoration: none;
    margin-left: 20px;

    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        .sprite(@menu);
        margin-right: 10px;
        position: relative;
        top: -2px;
    }

    &:hover {
        box-shadow: 0 0px 5px rgba(0,0,0,0.4); 
    }
}

.mobile-menu-box {
}

.mobile-menu {
    max-width: 530px;
    width: 100%;
    min-height: 100vh;
    top: 0;
    right: -100%;
    left: auto;
    margin-left: 0;
    background: #242c3e;
    padding: 0;
    padding-bottom: 200px;
    transition: all 0.3s;
}

.mobile-menu__close {
    background: @red;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 19px;
        left: 19px;
        .sprite(@close);
    }
}

.mobile-menu-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px 30px;
}

.mobile-menu-search {
    margin: 40px 0;
}

.mobile-menu-social {
    a {
        border: none;
    }
}

.mobile-menu-top {
    color: #fff;
    padding: 30px;
}


.mobile-menu__adres {
    font-size: 13px;
    margin-bottom: 10px;
}

.mobile-menu__phone {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
}

.mobile-menu__del {
    display: inline-block;
    font-size: 15px;
    margin: 0 10px;
}

.mobile-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-menu-one {
    & > a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        display: block;
    }

    margin: 0;

    ul {
        display: none;
        position: fixed;
        height: 100vh;
        overflow: auto;
        top: 0;
        right: 0;
        width: 530px;
        z-index: 10;
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}


.mobile-menu .j-submenu {
    & > a {
        position: relative;
        &:after {
                display: block;
                content: "";
                top: 24px;
                right: 30px;
                .sprite(@next-white);
                transform: scale(0.8);
                position: absolute;
        }
    }

    &:after {
        display: none;
    }
}


.mobile-menu-color(@color) {
    ul {
        background: @color;
    }
    & > a {
        display: block;
        background: @color;
        padding: 20px 30px;
        font-size: 22px;
        font-weight: 700;
    }


    li {
        border-bottom: 1px solid  darken(@color, 8%);
        background: darken(@color, 5%);
        display: block;
        margin-bottom: 0;
        a {
            padding: 20px 30px;
            display: block;
            font-size: 22px;
        }

        ul {
            display: none;
        }
    }
}

.mobile-submenu-top {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    padding: 30px;
}

.mobile-menu-back {
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    .sprite(@menu-back);
    cursor: pointer;
}


.mobile-menu-one--yellow {
    .mobile-menu-color(@yellow);
}

.mobile-menu-one--red {
    .mobile-menu-color(@red);
}

.mobile-menu-one--green {
    .mobile-menu-color(@green);
}

.mobile-menu-one--blue {
    .mobile-menu-color(@blue);
}


.head-inn {
    padding: 180px 0 100px;
}

.breadcrumbs {
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;

    a {
        color: #353f56;
    }
}

.head-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.content {
    background: #fff;
    padding: 70px 70px;
}

.content-inn {
    max-width: 880px;
    margin: 0 auto;
}