/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@blockquote-name: 'blockquote';
@blockquote-x: 50px;
@blockquote-y: 0px;
@blockquote-offset-x: -50px;
@blockquote-offset-y: 0px;
@blockquote-width: 20px;
@blockquote-height: 17px;
@blockquote-total-width: 92px;
@blockquote-total-height: 91px;
@blockquote-image: '../img/sprite.png';
@blockquote: 50px 0px -50px 0px 20px 17px 92px 91px '../img/sprite.png' 'blockquote';
@close-name: 'close';
@close-x: 0px;
@close-y: 78px;
@close-offset-x: 0px;
@close-offset-y: -78px;
@close-width: 13px;
@close-height: 13px;
@close-total-width: 92px;
@close-total-height: 91px;
@close-image: '../img/sprite.png';
@close: 0px 78px 0px -78px 13px 13px 92px 91px '../img/sprite.png' 'close';
@facebook-name: 'facebook';
@facebook-x: 81px;
@facebook-y: 18px;
@facebook-offset-x: -81px;
@facebook-offset-y: -18px;
@facebook-width: 9px;
@facebook-height: 17px;
@facebook-total-width: 92px;
@facebook-total-height: 91px;
@facebook-image: '../img/sprite.png';
@facebook: 81px 18px -81px -18px 9px 17px 92px 91px '../img/sprite.png' 'facebook';
@list-name: 'list';
@list-x: 37px;
@list-y: 50px;
@list-offset-x: -37px;
@list-offset-y: -50px;
@list-width: 16px;
@list-height: 16px;
@list-total-width: 92px;
@list-total-height: 91px;
@list-image: '../img/sprite.png';
@list: 37px 50px -37px -50px 16px 16px 92px 91px '../img/sprite.png' 'list';
@menu-back-name: 'menu-back';
@menu-back-x: 0px;
@menu-back-y: 0px;
@menu-back-offset-x: 0px;
@menu-back-offset-y: 0px;
@menu-back-width: 50px;
@menu-back-height: 50px;
@menu-back-total-width: 92px;
@menu-back-total-height: 91px;
@menu-back-image: '../img/sprite.png';
@menu-back: 0px 0px 0px 0px 50px 50px 92px 91px '../img/sprite.png' 'menu-back';
@menu-name: 'menu';
@menu-x: 50px;
@menu-y: 35px;
@menu-offset-x: -50px;
@menu-offset-y: -35px;
@menu-width: 16px;
@menu-height: 14px;
@menu-total-width: 92px;
@menu-total-height: 91px;
@menu-image: '../img/sprite.png';
@menu: 50px 35px -50px -35px 16px 14px 92px 91px '../img/sprite.png' 'menu';
@more-black-name: 'more-black';
@more-black-x: 86px;
@more-black-y: 35px;
@more-black-offset-x: -86px;
@more-black-offset-y: -35px;
@more-black-width: 5px;
@more-black-height: 8px;
@more-black-total-width: 92px;
@more-black-total-height: 91px;
@more-black-image: '../img/sprite.png';
@more-black: 86px 35px -86px -35px 5px 8px 92px 91px '../img/sprite.png' 'more-black';
@more-white-name: 'more-white';
@more-white-x: 81px;
@more-white-y: 35px;
@more-white-offset-x: -81px;
@more-white-offset-y: -35px;
@more-white-width: 5px;
@more-white-height: 8px;
@more-white-total-width: 92px;
@more-white-total-height: 91px;
@more-white-image: '../img/sprite.png';
@more-white: 81px 35px -81px -35px 5px 8px 92px 91px '../img/sprite.png' 'more-white';
@next-dark-name: 'next-dark';
@next-dark-x: 70px;
@next-dark-y: 0px;
@next-dark-offset-x: -70px;
@next-dark-offset-y: 0px;
@next-dark-width: 11px;
@next-dark-height: 18px;
@next-dark-total-width: 92px;
@next-dark-total-height: 91px;
@next-dark-image: '../img/sprite.png';
@next-dark: 70px 0px -70px 0px 11px 18px 92px 91px '../img/sprite.png' 'next-dark';
@next-white-name: 'next-white';
@next-white-x: 70px;
@next-white-y: 18px;
@next-white-offset-x: -70px;
@next-white-offset-y: -18px;
@next-white-width: 11px;
@next-white-height: 18px;
@next-white-total-width: 92px;
@next-white-total-height: 91px;
@next-white-image: '../img/sprite.png';
@next-white: 70px 18px -70px -18px 11px 18px 92px 91px '../img/sprite.png' 'next-white';
@prev-dark-name: 'prev-dark';
@prev-dark-x: 70px;
@prev-dark-y: 36px;
@prev-dark-offset-x: -70px;
@prev-dark-offset-y: -36px;
@prev-dark-width: 11px;
@prev-dark-height: 18px;
@prev-dark-total-width: 92px;
@prev-dark-total-height: 91px;
@prev-dark-image: '../img/sprite.png';
@prev-dark: 70px 36px -70px -36px 11px 18px 92px 91px '../img/sprite.png' 'prev-dark';
@prev-white-name: 'prev-white';
@prev-white-x: 81px;
@prev-white-y: 0px;
@prev-white-offset-x: -81px;
@prev-white-offset-y: 0px;
@prev-white-width: 11px;
@prev-white-height: 18px;
@prev-white-total-width: 92px;
@prev-white-total-height: 91px;
@prev-white-image: '../img/sprite.png';
@prev-white: 81px 0px -81px 0px 11px 18px 92px 91px '../img/sprite.png' 'prev-white';
@search-white-name: 'search-white';
@search-white-x: 0px;
@search-white-y: 50px;
@search-white-offset-x: 0px;
@search-white-offset-y: -50px;
@search-white-width: 18px;
@search-white-height: 18px;
@search-white-total-width: 92px;
@search-white-total-height: 91px;
@search-white-image: '../img/sprite.png';
@search-white: 0px 50px 0px -50px 18px 18px 92px 91px '../img/sprite.png' 'search-white';
@search-name: 'search';
@search-x: 50px;
@search-y: 17px;
@search-offset-x: -50px;
@search-offset-y: -17px;
@search-width: 18px;
@search-height: 18px;
@search-total-width: 92px;
@search-total-height: 91px;
@search-image: '../img/sprite.png';
@search: 50px 17px -50px -17px 18px 18px 92px 91px '../img/sprite.png' 'search';
@sm-name: 'sm';
@sm-x: 53px;
@sm-y: 50px;
@sm-offset-x: -53px;
@sm-offset-y: -50px;
@sm-width: 16px;
@sm-height: 16px;
@sm-total-width: 92px;
@sm-total-height: 91px;
@sm-image: '../img/sprite.png';
@sm: 53px 50px -53px -50px 16px 16px 92px 91px '../img/sprite.png' 'sm';
@twitter-name: 'twitter';
@twitter-x: 18px;
@twitter-y: 50px;
@twitter-offset-x: -18px;
@twitter-offset-y: -50px;
@twitter-width: 19px;
@twitter-height: 16px;
@twitter-total-width: 92px;
@twitter-total-height: 91px;
@twitter-image: '../img/sprite.png';
@twitter: 18px 50px -18px -50px 19px 16px 92px 91px '../img/sprite.png' 'twitter';
@vk-name: 'vk';
@vk-x: 0px;
@vk-y: 68px;
@vk-offset-x: 0px;
@vk-offset-y: -68px;
@vk-width: 18px;
@vk-height: 10px;
@vk-total-width: 92px;
@vk-total-height: 91px;
@vk-image: '../img/sprite.png';
@vk: 0px 68px 0px -68px 18px 10px 92px 91px '../img/sprite.png' 'vk';
@spritesheet-width: 92px;
@spritesheet-height: 91px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @blockquote @close @facebook @list @menu-back @menu @more-black @more-white @next-dark @next-white @prev-dark @prev-white @search-white @search @sm @twitter @vk;
@spritesheet: 92px 91px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
