@import "../sprite.less";


@media screen and (max-width: 1380px) {
    .wrap {
        width: 1000px;
    }

    .menu-one {
        margin-left: 10px !important;
        a {
            padding: 10px 15px !important;
        }
    }

    .head {
        padding: 0 60px;
        height: 390px;
    }

    .head-top__phone,
    .head-top__adres {
        font-size: 13px;
    }

    .head-top__del {
        font-size: 13px;
        margin: 0 20px;
    }

    .head-logo {
        left: 50px;
        top: 50px;
        img {

            width: 190px; 
        }
    }

    .head-since {
        top: 150px;
        left: 100px;
        font-size: 12px;
    }

    .slider-box {
        padding: 50px 0 90px;
    }


    .main-slider {
        height: 395px;
    }

    .main-slider__img {
        height: 395px !important;
        width: 615px;
    }



    .main-slider-descr {
        width: 300px;
        top: 50px;
        left: 30px;
    }

    .main-slider-descr__title {
        font-size: 42px;
        line-height: 52px;
        width: 300px;
        margin-bottom: 10px;
    }

    .main-slider-descr__text {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 22px;
    }

    .services {
        padding: 0 50px 20px;
    }

    .services-one, .services-one-row {
        width: 100%;
        margin-left: 0;
    }

    .about__image {
        width: 420px;
        background-size: contain;

    }

    .news-main {
        padding: 70px 60px;
    }

    .news-main-one,
    .footer-coll {
        width: 280px;
        margin-right: 20px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .footer-inn {
        padding: 0 60px;
    }

    .footer-menu a {
        font-size: 12px;
    }

    .slider-nav {
        top: 50px;
        width: 590px;
        height: 395px;
    }

    .slider-next,
    .slider-prev {
        height: 395px;
    }

    .services-one__catalog {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        right: 50px;
    }

    .content {
        padding: 70px 60px;
    }

    .news-one-gall {
        width: 1000px;
        margin-left: -60px;
    }

    .product-list-box {
        max-width: 800px;
    }

    .side {
        margin-left: 0;
    }

    .content-side {
        margin-left: 280px;
    }

    .filtr-type {
        a {
            padding: 10px 15px;
        }
    }

    .head-side {
        padding-left: 280px;
    }

    .card-photo {
        margin-left: 0; 
    }

    .results-list-inn {
        max-width: 815px;
    }

    .results-one--news {
        width: ~'calc(100% + 20px)';
        margin-left: -10px;
    }

    .j-submenu {
        &:after {
            top: 20px;
        }
    }

}