<div class="wrap">
    <div class="content">
        
        <div class="content-side content-side--card">
            <div class="tovar-buy">
                <button class="tovar-buy__button tovar-buy__button--suvenir">Заказать</button>
                <div class="tovar-buy__price">250 <i class="ruble">q</i></div>
            </div>
            
            <p>Вы можете сделать уникальный подарок своим близким, заказав печать любого изображения на футболке. Мы выполняем нанесение изображения на  футболки двумя способами: сублимационная печать и печать изображения с помощью термопленки (флексопечать).</p>
            
            <h2>Сублимационная печать на футболке</h2>

            <p>Сублимация позволяет наносить фотокартинки на белый полиэстр (футболки исключительно белого цвета). Изображение получается яркое и обладает высокой стокойстью к выстирке. Позволяет делать тиражи от 1 штуки. Используется для принтования спортивной и промо одежды.</p>

            <table class="table">
                <tr>
                    <th>Тип</th>
                    <th>Цена за комплект</th>
                    <th>Срок изготовления</th>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
                <tr>
                    <td>100 штук (односторонние)</td>
                    <td>270 руб.</td>
                    <td>1 рабочий день</td>
                </tr>
            </table>

            <hr>

            <a href="#" class="link-back">К списку новостей</a>
            
        </div>
    </div>
    

</div>
