<div class="wrap">
    <div class="about clearfix">
        <div class="about__image"></div>
        <div class="about__title">Центр<br>цифровой<br>печати</div>
        <div class="about__text">Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором Ваши фотографии будут выглядеть как настоящие картины! Печать фотографий большого размера выполняется на принтере Canon iPF6400. Максимальный размер печати: 60 см х 1500 см, минимальный 60 х 30 см. Разрешение печати – 300 dpi.</div>
    </div>
    <div class="personal">
        <div class="personal__title">Наши сотрудники</div>
        <div class="personal-inn">
            <div class="personal-list swiper-wrapper">
                <div class="personal-one swiper-slide">
                    <img src="/tmp/personal-one.jpg" alt="">
                    <div class="personal-one__position">— Директор</div>
                    <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one swiper-slide">
                    <img src="/tmp/personal-one.jpg" alt="">
                    <div class="personal-one__position">— Директор</div>
                    <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one swiper-slide">
                    <img src="/tmp/personal-one.jpg" alt="">
                    <div class="personal-one__position">— Директор</div>
                    <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one swiper-slide">
                    <img src="/tmp/personal-one.jpg" alt="">
                    <div class="personal-one__position">— Директор</div>
                    <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one swiper-slide">
                    <img src="/tmp/personal-one.jpg" alt="">
                    <div class="personal-one__position">— Директор</div>
                    <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one swiper-slide">
                    <img src="/tmp/personal-one.jpg" alt="">
                    <div class="personal-one__position">— Директор</div>
                    <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one swiper-slide">
                    <img src="/tmp/personal-one.jpg" alt="">
                    <div class="personal-one__position">— Директор</div>
                    <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one swiper-slide">
                    <img src="/tmp/personal-one.jpg" alt="">
                    <div class="personal-one__position">— Директор</div>
                    <div class="personal-one__name">Сосновских Алексей</div>
                </div>
                <div class="personal-one swiper-slide">
                    <img src="/tmp/personal-one.jpg" alt="">
                    <div class="personal-one__position">— Директор</div>
                    <div class="personal-one__name">Сосновских Алексей</div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
