<div class="wrap">
    <div class="news-main">
        <div class="news-main__title">Новости</div>
        <div class="news-main-box">
            <div class="news-main-one">
                <div class="news-main-inn">
                    <div class="news-main-one__date">20 апреля 2017</div>
                    <div class="news-main-one__title">Тиснение фольгой!</div>
                    <div class="news-main-one__text">Мы рады приятно удивить вас, дорогие клиенты! Теперь мы умеем делать фольгирование!</div>
                </div>
                <a href="#">Подробнее</a>
            </div>
            <div class="news-main-one">
                <div class="news-main-inn">
                    <div class="news-main-one__date">20 апреля 2017</div>
                    <div class="news-main-one__title">Тиснение фольгой!</div>
                    <div class="news-main-one__text">Заказывая фотографии на печать, Вы можете столкнуться с тем, что ваши фото являются не стандартными по соотношению сторон для размера печати.</div>
                </div>
                <a href="#">Подробнее</a>
            </div>
            <div class="news-main-one">
                <div class="news-main-inn">
                    <div class="news-main-one__date">20 апреля 2017</div>
                    <div class="news-main-one__title">Тиснение фольгой!</div>
                    <div class="news-main-one__text">Мы рады приятно удивить вас, дорогие клиенты! Теперь мы умеем делать фольгирование!</div>
                </div>
                <a href="#">Подробнее</a>
            </div>
        </div>
        
        <a href="#" class="news-main__all">Все новости</a>

    </div>
</div>
