<div class="wrap">
    <div class="services" style="background-image: url(/img/color-fon-1.png);">
        <div class="services-one">
            <div class="services-one-top">
                <a href="#" class="services-one__catalog">Каталог печати</a>
                <div class="services-one__title">Печать</div>
            </div>
            <div class="services-one-inn">
                <a href="#" class="services-item">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>