<div class="wrap">
    <div class="services" style="background-image: url(/img/color-fon-1.png);">
        <div class="services-one">
            <div class="services-one-top">
                <a href="#" class="services-one__catalog"><span>Каталог печати</span></a>
                <div class="services-one__title">Печать</div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            
            <div class="services-one-inn swiper-wrapper">
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="services" style="background-image: url(/img/color-fon-2.png);">
        <div class="services-one-row">
            <div class="services-one-top">
                <a href="#" class="services-one__catalog"><span>Каталог сувениров</span></a>
                <div class="services-one__title">Сувениры</div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="services-one-inn swiper-wrapper">
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
            </div>
            
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="services" style="background-image: url(/img/color-fon-3.png);">
        <div class="services-one-row">
            <div class="services-one-top">
                <a href="#" class="services-one__catalog"><span>Каталог услуг</span></a>
                <div class="services-one__title">Услуги</div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="services-one-inn swiper-wrapper">
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
            </div>
            
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="services" style="background-image: url(/img/color-fon-4.png);">
        <div class="services-one">
            <div class="services-one-top">
                <a href="#" class="services-one__catalog"><span>Каталог товаров</span></a>
                <div class="services-one__title">Товары</div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="services-one-inn swiper-wrapper">
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-2.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-3.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-4.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-5.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-6.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
                <a href="#" class="services-item swiper-slide">
                    <img src="/tmp/item-7.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Широкоформатная печать</div>
                        <div class="services-item-bottom__section">Печать</div>
                    </div>
                </a>
            </div>
            
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>