<div class="wrap">
    <div class="content">
        <div class="side side--tovar">
            <div class="side-title">Товары</div>
            <ul>
                <li><a href="#">Фотоальбомы</a></li>
                <li><a href="#">Фоторамки</a></li>
                <li><a href="#">Фотопленка</a></li>
                <li><a href="#">Элементы питания</a></li>
                <li><a href="#">Носители информации</a></li>
                <li><a href="#">Бумага для офиса</a></li>
                <li><a href="#">Багет по размерам заказчика</a></li>
            </ul>
        </div>
        <div class="content-side">

            <div class="product-filtr">
                <div class="filtr-type">
                    <a href="#" class="active">Все</a>
                    <a href="#">USB – флешкарты</a>
                    <a href="#">SD карты</a>
                    <a href="#">microSD карты</a>
                    <a href="#">CD диски</a>
                </div>
                <div class='filtr-sort'>Сортировать по:  <a href="#" class="active">Названию</a>  <i>|</i>  <a href="#">Цене</a></div>
            </div>
            <div class="catalog-show ">
                <div class="filtr-pager filtr-pager--top">
                    <a href="#" class="active">1</a>  <i>|</i>  <a href="#">2</a>  <i>|</i>  <a href="#">3</a>  <i>|</i>  ...  <i>|</i>  <a href="#">10</a>  <i>|</i>  <a href="#">Дальше</a>
                </div>
                <div class="filtr-show filtr-show--top">
                    Показывать по:  <a href="#">20</a>  <i>|</i>  <a href="#">30</a>  <i>|</i>  <a href="#">50</a>  <i>|</i>  <a href="#" class="active">Все</a>
                </div>
            </div>

            <div class="product-list">
                <a href="#" class="product-item">
                    <img src="/tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 р</div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="/tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 р</div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="/tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 р</div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="/tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 р</div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="/tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 р</div>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <img src="/tmp/product-1.jpg" alt="">
                    <div class="product-item-bottom">
                        <div class="product-item__title">USB Flash Verbatim Tattoo Edition «Карп Кои» 8 ГБ</div>
                        <div class="product-item__price">410 р</div>
                    </div>
                </a>

                
            </div>

            <div class="catalog-show">
                <div class="filtr-pager">
                    <a href="#" class="active">1</a>  <i>|</i>  <a href="#">2</a>  <i>|</i>  <a href="#">3</a>  <i>|</i>  ...  <i>|</i>  <a href="#">10</a>  <i>|</i>  <a href="#">Дальше</a>
                </div>
                <div class="filtr-show">
                    Показывать по:  <a href="#">20</a>  <i>|</i>  <a href="#">30</a>  <i>|</i>  <a href="#">50</a>  <i>|</i>  <a href="#" class="active">Все</a>
                </div>
            </div>

            
            <p>Этот широкоформатный принтер оснащен инновационной 12-цветной системой пигментных чернил LUCIA EX от Canon с особой технологией обработки изображения. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин.</p>
        </div>
    </div>
    

</div>
