<div class="wrap">
    <div class="content">
        <div class="content-inn">
            <div class="news-list">
                <div class="news-one">
                    <div class="news-one__img">
                        <img src="tmp/news-one.jpg" alt="">
                    </div>
                    <div class="news-one-inn">
                        <div class="news-one__date">20 апреля 2017</div>
                        <a class="news-one__title" href="#">Фото на документы теперь стоит 180 рублей!</a>
                        <div class="news-one__text">Всем-всем-всем! Давно откладывали оформление загранпаспорта? Или скоро менять общегражданский?</div>
                    </div>
                </div>
                <div class="news-one">
                    <div class="news-one__img">
                        <img src="tmp/news-one.jpg" alt="">
                    </div>
                    <div class="news-one-inn">
                        <div class="news-one__date">20 апреля 2017</div>
                        <a class="news-one__title" href="#">Фото на документы теперь стоит 180 рублей!</a>
                        <div class="news-one__text">Всем-всем-всем! Давно откладывали оформление загранпаспорта? Или скоро менять общегражданский?</div>
                    </div>
                </div>
                <div class="news-one">
                    <div class="news-one__img">
                        <img src="tmp/news-one.jpg" alt="">
                    </div>
                    <div class="news-one-inn">
                        <div class="news-one__date">20 апреля 2017</div>
                        <a class="news-one__title" href="#">Фото на документы теперь стоит 180 рублей!</a>
                        <div class="news-one__text">Всем-всем-всем! Давно откладывали оформление загранпаспорта? Или скоро менять общегражданский?</div>
                    </div>
                </div>
                <div class="news-one">
                    <div class="news-one__img">
                        <img src="tmp/news-one.jpg" alt="">
                    </div>
                    <div class="news-one-inn">
                        <div class="news-one__date">20 апреля 2017</div>
                        <a class="news-one__title" href="#">Фото на документы теперь стоит 180 рублей!</a>
                        <div class="news-one__text">Всем-всем-всем! Давно откладывали оформление загранпаспорта? Или скоро менять общегражданский?</div>
                    </div>
                </div>
                <div class="news-one">
                    <div class="news-one__img">
                        <img src="tmp/news-one.jpg" alt="">
                    </div>
                    <div class="news-one-inn">
                        <div class="news-one__date">20 апреля 2017</div>
                        <a class="news-one__title" href="#">Фото на документы теперь стоит 180 рублей!</a>
                        <div class="news-one__text">Всем-всем-всем! Давно откладывали оформление загранпаспорта? Или скоро менять общегражданский?</div>
                    </div>
                </div>
                <div class="news-one">
                    <div class="news-one__img">
                        <img src="tmp/news-one.jpg" alt="">
                    </div>
                    <div class="news-one-inn">
                        <div class="news-one__date">20 апреля 2017</div>
                        <a class="news-one__title" href="#">Фото на документы теперь стоит 180 рублей!</a>
                        <div class="news-one__text">Всем-всем-всем! Давно откладывали оформление загранпаспорта? Или скоро менять общегражданский?</div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="#">Назад</a> <i>|</i> <a href="#">1</a> <i>|</i> 2 <i>|</i> <a href="#">3</a> <i>|</i> ... <i>|</i> <a href="#">10</a> <i>|</i> <a href="#">Дальше</a>
            </div>
        </div>
    </div>
    

</div>
