<div class="wrap">
    <div class="content product-list--tovar">
        <div class="">
            <div class="product-list__descr">Мы предлагаем различные виды материалов для печати: матовую, глянцевую бумагу различной плотности, холст, на котором Ваши фотографии будут выглядеть как настоящие картины!</div>

            <div class="product-list-box">
                <a href="#" class="services-item">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Фотоальбомы</div>
                        <div class="services-item-bottom__section">Товары</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Бумага для офиса</div>
                        <div class="services-item-bottom__section">Товары</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Носители информации</div>
                        <div class="services-item-bottom__section">Товары</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Фотоальбомы</div>
                        <div class="services-item-bottom__section">Товары</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Бумага для офиса</div>
                        <div class="services-item-bottom__section">Товары</div>
                    </div>
                </a>
                <a href="#" class="services-item">
                    <img src="/tmp/item-1.jpg" alt="">
                    <div class="services-item-bottom">
                        <div class="services-item-bottom__title">Носители информации</div>
                        <div class="services-item-bottom__section">Товары</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-inn">
            <p>Этот широкоформатный принтер оснащен инновационной 12-цветной системой пигментных чернил LUCIA EX от Canon с особой технологией обработки изображения. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин.</p>

            <p>Этот широкоформатный принтер оснащен инновационной 12-цветной системой пигментных чернил LUCIA EX от Canon с особой технологией обработки изображения. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин. Данная технология обеспечивает расширенный цветовой охват, плавные переходы тонов, понижение бронзирования и повышение устойчивости отпечатков к появлению царапин.</p>
        </div>
    </div>
    

</div>
